<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>漫画喵</title>
    <link href="../static/css/metro.min.css" rel="stylesheet" media="screen">
    <script src="../static/js/jquery.min.js"></script>
    <script src="../static/js/metro.min.js"></script>
	<script src="../static/js/util.js"></script>
	<script src="../static/js/lazyload.min.js"></script>
	<style>
		#img-list {
			width: 960px;
			margin: 0 auto;
		}
		#img-list p {
			display: inline-block;
			width: 960px;
			margin: 5px auto;
			text-align: center;
		}
		#img-list img {
			width: 960px;
			display: inline-block;
			margin: 0 auto;
		}
	</style>
</head>
<body class="bg-grayLight">
<div id="img-list">
		{% for file in files %}
		
		<p><img class="lazyload"  src="../static/img/loading.png" data-original="{{ file }}"/></p>

		{% endfor %}
</div>
<div data-role="dialog" id="dialog" class="padding20 dialog" data-close-button="true" data-overlay="true" data-overlay-color="op-dark" data-overlay-click-close="true" style="width: auto; height: auto; visibility: visible; left: 493px; top: 123.5px;">
    <h1>Wrong</h1>
    <p id="wrong-content">
    </p>
    <span class="dialog-close-button"></span>
</div>
<script>

$(function() {
	var img_list = $('#img-list');
	var cartoon = getQueryString('cartoon');
	var chapter = getQueryString('chapter');
	document.title = chapter + ' - ' + cartoon;

	var host = window.location.host;

	$(function() {
          $("img").lazyload({ 
                 effect: "fadeIn"
           });  
	  });
	
  
// 无效不是，图片懒加载
	// $.getJSON('http://' + host + '/api/cartoon/' + cartoon + '/' + chapter,
	// 	function (data) {
	//         // if (data['code'] != 0) {
    //         //     $('#wrong-content').text(JSON.stringify(data));
    //         //     metroDialog.open('#dialog');
    //         //     return;
	// 		// }
	// 		var urls = data['images'];
	// 		urls.forEach(function (url) {
	// 			img_list.append(
	// 				'<p><img class="lazyload"  src="../static/img/loading.png" data-original="'+ url +'"/></p>'
	// 				);
	// 		});
	
	// 	});
});
</script>
</body>
</html>